{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}{% endblock %} - Gigma</title>
  <script src="https://unpkg.com/htmx.org/dist/ext/debug.js"></script>
  <script>
    document.body.addEventListener('htmx:configRequest', (event) => {
      event.detail.headers['X-CSRFToken'] = '{{ csrf_token }}';
    })
  </script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap" rel="stylesheet">
  <script src="https://unpkg.com/htmx.org@1.9.10" integrity="sha384-D1Kt99CQMDuVetoL1lrYwg5t+9QdHe7NLX/SoJYkXDFfX37iInKRy5xLSi8nO7UC" crossorigin="anonymous"></script>
  <link rel="icon" type="image/x-icon" href="{% static 'admin/img/favicon-16x16.png' %}">
  <link href="{% static 'css/styles.css' %}" rel="stylesheet">
</head>
<body class="h-screen flex justify-center items-center">
    {% include 'main/main_nav.html' %}
    {% if messages %}
      {% for message in messages %}
        {% if message.tags == "success" %}
          <div class="bg-success text-center">
        {% else %}
          <div class="bg-warning text-center">
        {% endif %}
        <div class="{{ message.tags }}">
          {{ message|safe }}
        </div>
      </div>
      {% endfor %}
    {% endif %}
    {% block content %}
        
    {% endblock %}
</body>
</html>