{% extends 'main/base.html' %}

{% block title %}Home{% endblock %}
{% block content %}
<style>
    .card:hover{
        border-color:#F3B945;
        box-shadow: 0 -10px 15px -10px inset #F3B945;
    }
    .card{
        transition: all .5s;
    }
</style>
<div class="container">
    <div class="col">
        <div class="row mt-5">
            <h1 class="text-light text-center">Landing Page</h1>
        </div>               
        <div class="row">
        </div>
    </div>
</div>

{% endblock %}