{% load static %}

<div class="drawer-side w-screen !z-40">
    <label for="my-drawer-4" aria-label="close sidebar" class="drawer-overlay"></label>
    <div class="flex flex-col-reverse min-h-full w-full pb-40 px-10 bg-neutral text-primary">
      {% if request.user.is_authenticated %}
      <form class="btn btn-ghost sm:justify-around text-xl h-16 mt-10" method="post" action="{% url 'logout' %}">
        {% csrf_token %}
        <button class="" type="submit">Logout</button>
      </form>
      <a class="btn btn-ghost sm:justify-around text-xl h-16" href="{% url 'event_dashboard' %}">My Events</a>
      <a class="btn btn-ghost sm:justify-around text-xl h-16" href="{% url 'profile_dashboard' %}">My Account</a>
      <a class="btn btn-ghost sm:justify-around text-xl h-16" href="{% url 'edit' %}">Edit Account</a>
      {% else %}
      <a class="btn btn-ghost sm:justify-around text-xl h-16" href="{% url 'register' %}">Sign Up</a>
      <a class="btn btn-ghost sm:justify-around text-xl h-16 mt-10" href="{% url 'login' %}">Login</a>
      {% endif %}
      <a class="btn btn-ghost sm:justify-around text-xl h-16" href="{% url 'event_search' %}">Find Events</a>
      <a class="btn btn-ghost sm:justify-around text-xl h-16" href="{% url 'profile_search' %}">Find Artists</a>
    </div>
  </div>