{% load static %}

<div class="navbar relative flex items-center bg-accent-content border-b border-warning shadow-lg shadow-yellow-200">
  <div class="navbar-start w-1/2">
    <a class="btn btn-ghost text-xl text-base-content" href="{% url 'landing_page' %}">
      <img class="size-10" src="{% static 'admin/img/favicon-50.png' %}""/>
      GIGMA
    </a>
  </div>
  <div class="navbar-end w-1/2">
    {% if my_profile.profile_picture != '' %}
    <label tabindex="0" role="button" for="my-drawer-4" class="drawer-button btn avatar bg-accent-content w-20">
      <div class="ring-warning w-24 rounded-full ring ring-offset-0 absolute overflow-visible top-0 right-0 -translate-x-1 translate-y-1">
        <img  src="{{ my_profile.profile_picture.url }}"/>
      </div>
    </label>
    {% else %}
    <label tabindex="0" role="button" for="my-drawer-4" class="drawer-button btn bg-accent-content avatar w-20">
      <div class="bg-neutral ring-warning w-24 rounded-full ring ring-offset-0 absolute overflow-visible top-0 right-0 -translate-x-1 translate-y-1">
      </div>
    </label>
    {% endif %}
  </div>
</div>
