{% load static %}

<div class="absolute pointer-events-none bg-transparent w-full left-1/2 -top-0 transform -translate-x-1/2">
  <svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg">
    <circle r="280" cx="100%" cy="300" fill="black" opacity="0.25"/>
  </svg>
</div>
<div class="navbar relative pointer-events-none flex bg-transparent items-start !p-4">
  <div class="navbar-start w-1/2 flex-1">
  </div>
  <div class="navbar-end bg-transparent w-1/2 flex-1 justify-end items-end !z-50">
    <a class="pointer-events-auto rounded-full text-xl text-base-content bg-secondary-content border-2 border-gray-400 p-2 me-4" href="{% url 'landing_page' %}">
      <img class="size-6" src="{% static 'admin/img/favicon-50.png' %}"/></a>
    {% if my_profile.profile_picture != '' and my_profile != None %}
    <label tabindex="0" role="button" for="my-drawer-4" class="pointer-events-auto drawer-button avatar bg-accent-content bg-transparent border-transparent">
      <div class="bg-neutral ring-gray-400 w-24 rounded-full ring ring-offset-0 overflow-visible">
        <img  src="{{ my_profile.profile_picture.url }}"/>
      </div>
    </label>
    {% else %}
    <label tabindex="0" role="button" for="my-drawer-4" class="pointer-events-auto drawer-button avatar bg-accent-content bg-transparent border-transparent">
      <div class="bg-neutral ring-gray-400 w-24 rounded-full ring ring-offset-0 overflow-visible">
      </div>
    </label>
    {% endif %}
  </div>

</div>

