{% extends 'main/base.html' %}

{% block title %}Events{% endblock %}
{% block content %}

<div class="w-full flex-col items-center">
    <h1 class="text-primary text-xl">Events</h1>
    <div class="card bg-base-200 w-96 shadow-xl">
        <div class="card-body">
            <form class=""> 
                <input name="enquiry_id" id="enquiry_id" type="text" class="input input-bordered w-full max-w-xs" placeholder="Search for an event here...">
                <button type="submit" class="btn btn-primary">Search</button>
            </form>
        </div>
    </div>
</div>

{% for event in events %}
    <div class="card text-start text-white bg-primary bg-gradient border border-info my-2">
        <a href="{% url 'event_details' event.id %}" class="stretched-link"><img src="{{ event.event_picture.url }}" style="height: 100px; width:100px;"/></a>
        <div class="card-body">
            <h5 class="card-title text-light">{{ event.event_name }}</h5>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        </div>
        </div>
    </div>
{% endfor %}


{% endblock %}